@use '../helpers' as *;

.badge {
	display: inline-flex;
	padding: fluid(4, 2) fluid(14, 10);
	border-radius: rem(6);
	font-size: rem(16);
	background: var(--gradient);
	border: rem(1) solid transparent;
	color: var(--color-light);

	@include laptop {
		border-radius: rem(4);
		font-size: rem(14);
	}
}